.member_wrapper dl dt{position:relative;line-height:40px;font-size:14px;font-weight:700;color:#333}
.member_wrapper dl dd+dd,
.member_wrapper dl dd+dt{margin:10px 0 0}
.member_wrapper dl dd{display:flex;flex-flow:row wrap;position:relative;}
.member_wrapper .gender .radio-box.theme2{width:50%}
.member_wrapper .birth .select-box {width:33.3%}
.member_wrapper .birth .select-box + .select-box{width:calc(33.3% - 10px);margin-left:10px}
.member_wrapper .phone .select-box {width:33.3%}
.member_wrapper .phone .select-box + .input-box{width:calc(66.6% - 10px);margin-left:10px}
.member_wrapper .phone .btn{position:absolute;top:8px;right:10px}
.member_wrapper .agreement{margin:10px 0 20px}
.member_wrapper .btn-area{display:flex;flex-flow:row wrap;width:100%;}

